# IMPORTANT: rename this file to .env.local, then delete this comment

EMAIL_USER=your-address@your-domain.com
EMAIL_PASS=your-password
EMAIL_FROM_NAME="Your name"
EMAIL_TO=tuo-your-personal-email@example.com
SMTP_HOST=smtp-server
SMTP_PORT=smtp-port

NEXT_PUBLIC_RECAPTCHA_SITE_KEY=your_site_key_here
NEXT_PUBLIC_GA_TRACKING_ID=ga_tracking_id
RECAPTCHA_SECRET_KEY=your_secret_key_here