/*
  Francesco Peluso Portfolio Website - 2024
  Created by Francesco Peluso

  Light Theme:
    - Coolors palette:  https://coolors.co/palette/006d77-83c5be-edf6f9
    - Colors HEX:       #006D77, #83C5BE, #EDF6F9
    - Text color:       #1A1A1A

  Dark Theme:
    - maybe coming soon :)
*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
