/*
  Francesco Peluso Portfolio Website - 2024
  Created by Francesco Peluso

  Light Theme:
    - Coolors palette:  https://coolors.co/palette/006d77-83c5be-edf6f9
    - Colors HEX:       #006D77, #83C5BE, #EDF6F9
    - Text color:       #1A1A1A

  Dark Theme:
    - maybe coming soon :)
*/


.container > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/* Home section */

#home .propic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-right: 24px;

    box-shadow: #83C5BE -8px 8px 0px 0;
    transition: ease-in .175s;
}

#home .propic:hover {
    transform: translate(0, -2px) scale(1.01);
    box-shadow: #83C5BE -8px 12px 0px 0;
}

#home .greetings-container {
    font-size: 48px;
    line-height: 0.5rem;
}

#home .my-name {
    color: #83C5BE;
    font-weight: 800;
}

#home .actual-position {
    font-size: 18px;
    color: #006D77;

    margin-top: 18px;
    line-height: 1.2rem;
}


/* About Me section */

#aboutme .card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 560px;
    padding: 18px;
    margin-top: 24px;

    background-color: #EDF6F9;
    border: 1px solid rgba(0, 109, 119, .25);

    box-shadow: #83C5BE -8px 8px 0px 0;
    
    border-radius: 12px;
    text-shadow: #83C5BE 0 0 2px 8px;

    transition: ease-in .175s;
}

#aboutme .card:hover {
    transform: translate(0, -2px) scale(1.01);
    box-shadow: #83C5BE -8px 12px 0px 0;
}

#aboutme .card:nth-of-type(2) {
    margin-left: 96px;
}

#aboutme .card:nth-of-type(3) {
    margin-left: 48px;
}


/* Experience section */

#experience {
    display: flex;
    flex-direction: column;

    padding-top: 60px;
    padding-bottom: -120px;
}

.education-container, .job-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    margin-top: 12px;
}

#experience .disclaimer {
    font-size: 14px;
    color: #006D77;
    margin-top: 120px;
}


/* Projects section */

#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 60px;
    padding-bottom: 60px;
}

#projects .projects-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;

}

#projects .disclaimer {
    font-size: 14px;
    color: #006D77;
    margin-top: 120px;
}


/* Contact me section */

#connect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.connect-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top: 24px;
    gap: 24px;
}

.connect-container p {
    font-size: 18px;
    width: 520px;
}